<!DOCTYPE html>
<html>
	<head>
		<title>team awesome hackers</title>
	</head>

	<body>
	</body>

	<form action="/" method="POST">
                <h1> select index</h1>
		<select id="index" name="Index" onchange="submit">
                    <option value="11">11</option>
                    <option value="13">13</option>
                    <option value="15">15</option>
                </select>
                <br><br>
                <h1> select brightness level </h1>
                <select id="brightness" name="Brightness" onchange="submit">
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="80">80</option>
                </select>
                <br><br>
                <input type="submit" name="submit index">
	</form>
</html>
